openapi: '3.0.0'
info:
  version: 1.0.0
  title: Rohit Ranjan Documentation API
  license:
    name: MIT
servers:
  - url: https://api.rohitrnj.com/v1
paths:
  /docs:
    get:
      summary: List all documentation pages
      operationId: listDocs
      parameters:
        - name: limit
          in: query
          description: How many items to return at one time (max 100)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        200:
          description: An paged array of documentation pages
          headers:
            x-next:
              description: A link to the next page of responses
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a new documentation page
      operationId: createDoc
      responses:
        201:
          description: Page created successfully
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /docs/{docId}:
    get:
      summary: Retrieve a specific documentation page
      operationId: getDoc
      parameters:
        - name: docId
          in: path
          required: true
          description: The id of the documentation page to retrieve
          schema:
            type: string
      responses:
        200:
          description: The requested documentation page
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Docs'
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
components:
  schemas:
    Doc:
      required:
        - id
        - title
      properties:
        id:
          type: integer
          format: int64
        title:
          type: string
        content:
          type: string
    Docs:
      type: array
      items:
        $ref: '#/components/schemas/Doc'
    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string